// Стили компонента Buton (Load more)

.Button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 50px;
  padding: 8px 16px;
  border-radius: 2px;
  // border: 0;

  overflow: hidden;

  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 10% 50%);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 33, 0.808) 0%,
    rgba(0, 0, 0, 0.511) 100%
  );
  color: #fff;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    color: teal;
    opacity: 0.7;
  }
  &:before {
    position: inherit;
    content: '';
    display: inline-block;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    animation: shiny-btn1 3s ease-in-out infinite;
  }
  &::active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.202),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.152),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.075);
  }

  @keyframes shiny-btn1 {
    0% {
      -webkit-transform: scale(0) rotate(45deg);
      opacity: 0;
    }
    80% {
      -webkit-transform: scale(0) rotate(45deg);
      opacity: 0.5;
    }
    81% {
      -webkit-transform: scale(4) rotate(45deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }
}
